extends base.pug

block scripts 
    script(src='/static/index.js')

block style 
    style 
        include ../static/style.css

block content 
        section#aboutSection 
            h2 About Us 
            h3  Dance is one of the most expressive crafts known to mankind.
            div.about
                p.left People of all ages and preferences admire dance and, people in India are no different. In our country, there is a song and dance for virtually  every season and reason. Despite so much love towards this art, people are averse to the idea of taking up dancing as a profession.<br>It is a common perception among people that dancing is not a respectable way of earning a living. Fortunately, things have changed a lot since Zenith Dance Academy opened its doors 20 years ago. With every step we take, with every move we make; we bring our students closer to dance and help to build their passion into a profession. Or simply, teach what they love doing the most, i.e., DANCE!!!
            div.about 
                p.right A finance expert by  profession, Ritu’s profound love for dance encouraged her to pursue dancing as a career. She went against her family’s wishes and societal norms to establish Zenith Dance Academy. She has been instrumental in taking Zenith to new heights globally.<br>A businesswoman and dancer herself, Ritu is the Director of the company. Reminiscing over her long and difficult journey, she says, “The riskier, the better” as she took the biggest risk of her life only to emerge successfully.and difficult journey, she says, “The riskier, the better” as she took the biggest risk of her life only to emerge successfully.
            div.about 
                p.left Born to Dance, Sooraj Singh Katoch co-founded Zenith Dance Company. He gave his life and soul to his passion and created a name in the entertainment industry. Performing for the last nineteen years now, he is one of the busiest choreographers all over the world. His blazing choreography entices audiences and inspires students to learn and perform. <br> He firmly believes that life is a constant learning process and so is dance. It’s the craft that matters not your religion, caste, creed, or age.
            div.about 
                p.right Dance instructors are one of the well-known and prominent ones in the dance and entertainment industry. With them you can learn world class dance techniques, best choreography routines. They will teach you in well-settled groups or private lessons.






