extends base.pug

block scripts 
    script(src='/static/index.js')

block style 
    style 
        include ../static/style.css
        include ../static/service.css

block content 
    section#serviceSection
        h2 Our Services


        div.service 
            img(src="/static/img/c3.jpg")
            div.sertext
                h3 Kathak
                div.service-content
                    p Kathak is an Indian traditional dance that combines music, dance, and theatrics. The dancing forms religious factions by breaking down cultural barriers. The dance form embraces intricate footwork emphasized by 'ghungroo' worn around the ankles and sophisticated body movements to weave the story

        div.service
            div.sertext
                h3 Bhangra
                div.service-content
                    p The crowning jewel of Punjab, Bhangra Dance is synonymous with energetic and vivacious. Our online Bhangra classes will take you on a joyous voyage of Dhol, Boliyan, colourful costumes and fun learning
            img(src="/static/img/c2.jpg")

        div.service
            img(src="/static/img/c1.jpg")
            div.sertext
                h3 Bollywood
                div.service-content
                    p From Subtle Contemporary, High Energy Jazz to Dynamic Bhangra moves and Sensuous Salsa; Bollywood Dance Form is a beautiful blend of different dances. Dance pe Chance Maar Le to master the exciting moves of Bollywood dance with our fun online dance classes
        div.service
            div.sertext
                h3 Hip-Hop
                div.service-content
                    p Hip-hop is an amazing style of street dance that grew out of hip-hop culture and music. It has a street funk feel to it and uses a rapid succession of moves that raise the heartbeat. The dancing style takes inspiration from African dance, tap, and ballet
            img(src="/static/img/c4.jpg")

        div.service
            img(src="/static/img/c5.jpg")
            div.sertext
                h3 Open Style
                div.service-content
                    p Open Style Choreography embodies hip hop, street style, and other forms of dancing. It is a fusion of various dance styles such as jazz, lyrical, contemporary, and hip hop. The dance form helps to master some extremely intricate dance moves and quite a range among the young dancers

        div.service
            div.sertext
                h3 Contemporary
                div.service-content
                    p Contemporary Style of Dancing is a dance of interpretation and expression. Connecting the mind and the body through fluid dance movements, Contemporary Dancing can transport you to a state of relief. Our Online Contemporary Dance Class lets you explore the eclectic mix of styles in dancing 
            img(src="/static/img/c6.jpg")